* {
    margin: 0;
    padding: 0;
}

.clock_container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock_display { 
    padding: 10px;
    background-color: beige;
    display: flex;
}

